<div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div id="logo" class="pull-left">
    <a href="#/"><h2>Civilizer</h2>
    <span>studio</span></a>
  </div>
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a ui-sref="main.editor"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editor</a></li>
      <li><a ui-sref="main.monitor"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitor</a></li>
    </ul>
  </div>

  <ul id="header-buttons" class="pull-right" ng-show="'main.editor' | isState">
    <span class="header-button-title">Show Execution Plan</span>
    <li class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-change="switchPanelState()" ng-model="planSwitch">
      <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
      </label>
    </li>
  </ul>
</div>

<div class="full-height" ui-view>
  <div id="landing-page">
    <img src="/images/rheem.png" alt="Rheem">
    <a href="#!/editor" class="landing-button">Editor</a>
    <a href="#!/monitor" class="landing-button">Monitor</a>
  </div>
</div>
